body {
    background-color: #90E0EF;
    margin: 0;
    height: 100vh;
    padding: 1%;
}

#main-container {
    background-color: #CAF0F8;
    text-align: center;
    height: 96%;
}

h1 {
    font-family: 'Patrick Hand', cursive;
    font-size: 80px;
    color: #03045E;
    margin-top: 0;
}

h2 {
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
    color: #03045E;
    margin-bottom: 0;
}

.score {
    margin: 0;
}

i {
    color: #03045E;
    font-size: 150px !important;
    margin: 0 50px 20px;
    border: 10px solid #90E0EF;
    padding: 20px;
    border-radius: 50%;
    transition: all 0.2s;
    transition-timing-function: ease;
}

.hovering:hover {
    transform: scale(1.2);
}

.no-hover {
    transform: none !important;
}

.button {
    display: inline-block;
}

.choice-icon {
    border: none;
    margin-bottom: 0;
}

.choice-icon:hover{
    transform: none;
}

.choice {
    display: inline-block;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.btn {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: 'Patrick Hand', cursive;
    color: #03045E;
    background: #CAF0F8;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #03045E 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #90E0EF;
    text-decoration: none;
  }